.wrapper {
  padding: 16px;

  max-width: 1800px;
  padding: 12px;
  padding-top: 30px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;

  .cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
    flex-wrap: wrap;
  }

  @include media_xl {
    padding: 40px;
  }
}
