.badge {
  height: 32px;
  padding: 0px 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.7);
  margin: 0px 4px;
  font-size: 12px;
  font-weight: 600;
  &-accent {
    background: #a6dced;
    color: black;
    border: none;
  }
}
